*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family:verdana;
    width:95%;
	margin:auto;																																					
	background-color:#f2f2f2;
	height:9000px;
}

#check{
	float:right;
	display:none;
}

 .drop-menu .hamburger > div{
 	position:relative;
 	cursor:pointer;
 	float:right;
 	background-color:#bbb;
 	width:35px;
 	height:35px;
 	margin:5px 20px;
 	display:flex;
 	justify-content:center;
 	align-items:center;
 }

.drop-menu  .line{
	position:relative;
	width:28px;
	height:4px;
	background-color:white;
	/*float:right;*/	
}

.drop-menu .line:before{
	content:"";
    background-color:white;
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	top:7px;
	transition:all .3s;
}

.drop-menu  .line:after{
	content:"";
	background-color:white;
	display:block;
	width:100%;
	height:100%;
	transform:rotate(0);
	position:absolute;
	top:-7px;
	transition:all .3s;
}

header .drop-menu{
	top:5px;
	position:fixed;
	width:95%;
	background-color:#bbb;
	z-index:5;
	padding:0.2rem;
	box-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

header .drop-menu h1{
	color:  #004080;
	float:left;
	margin:0px 20px 0px 20px;
}

header .drop-menu .menu{
	clear:both;
   	display:flex;
    list-style:none;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
    transform:scale(0);
    transform-origin:top;
    max-height:0;
    transition:all.4s;
}

header .drop-menu li{
	text-align:center;
    width:100%;

	
}

header .drop-menu ul a{
	text-decoration:none;
	font-size:16px;
	color:white;
	display:block;
	height: 49px;
	line-height: 3;
}

header .drop-menu li:hover{
	background-color:#333;
}

.drop-menu #check:checked ~ .menu{
	max-height:250px;
	transform:scale(1);
}
 .drop-menu #check:checked ~ .hamburger > div >div {
	background-color:#bbb;
}
.drop-menu #check:checked ~ .hamburger > div > div:before,.drop-menu #check:checked ~ .hamburger > div >div:after {
	top:0;
}

@media (min-width:750px) {

	.drop-menu .hamburger > div {
		display: none;
	}

	header .drop-menu .menu{
		clear:none;
	    display:flex;
		list-style:none;
		flex-direction:row;
		justify-content:space-around;
		align-items:center;
		max-height:250px;
       	transform:scale(1);
		
	}
}